body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.creditcard{
  width: 38%;
  margin: 10% 30%;
  background-color: #2980b9;
  border-radius: 20px;
  padding:20px;
  font-size: 1.2em;
  color: #fff;
  min-height: 300px;

}

.bankname{
  width:60%;
  float:right;
  padding:10px 12px;
  font-size: 2.5em;
  font-weight: 700;
}

.numbercard{
  position:absolute;
  bottom: 140px;
  font-size: 2em;
  letter-spacing: 7px;
  margin-left:15px;
  font-family: Arial;
  font-weight: 500;
}

.secretnumber{
  position:absolute;
  bottom:115px;
  margin-left:15px;
}

.valid{
  position:absolute;
  bottom: 80px;
  margin-left: 160px;
  font-size: 0.75em;
}

.validdate{
  position:absolute;
  bottom: 77px;
  letter-spacing: 4px;
  font-size: 1.9em;
  margin-left:220px;
}

.cardholder{
  position:absolute;
  bottom: 30px;
  margin-left:15px;
  font-size: 1.3em;
}
